body
{
    font-family: "Montserrat", sans-serif;
    background-color: #5f94ff;
    color: #fff;
}

h1, p
{
    margin: 0;
}

.alert 
{
    width: 100%;
    color: #818182;
    visibility: none;
    margin-bottom: 1.6%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
}

.alert p 
{
    padding: 1.6%;   
}

.alert_danger
{
    background-color: #f8d7da;
    color: #721c24;
    border: solid 1px #f5c6cb;
}

.alert_warning
{
    background-color: #fff3cd;
    color: #85776f;
    border: solid 1px #ffeeba;
}

.alert_primary
{
    background-color: #cce5ff;
    color: #4aa2ff;
    border: solid 1px #b8daff;
}

.alert_info
{
    background-color: #d1ecf1;
    color: #52aaf1;
    border: solid 1px #bee5eb;
}

.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container #logo
{
    width: 419px;
    margin: 15% auto;
}

.container #logo i
{
    font-size: 70px;
    margin-top: 30px;
}

.container #logo-circle
{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: #ffca2a;
    border-radius: 50%;
    float: left;
}

.container #logo-text
{
    float: left;
    margin: 40px 0px 0px 20px;
}

.container #logo-text h1
{
    font-size: 60px;
}

.content
{
    width: 60%;
    background-color: #fff;
    margin: 3% auto;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #f5f3f0;
}

.content form 
{
    color: #000;
}

.content form input[type="text"],
.content form input[type="email"]
{
    color: #ddd;
    border: solid 1px #ddd;
    padding: 2%;
    transition: all 0.5s;
    outline-style:none;
    box-shadow:none;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 50px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 1.7%;
}

.content form input[type="text"]:focus,
.content form input[type="email"]:focus
{
    color: #a5a5a5;
    border: solid 1px #a5a5a5;
}

.content form #phone_country_call
{
    width: 20%;
}

.content form #phone_prefix
{
    width: 20%;
}

.content form #phone_number
{
    width: 45.6%;
}

.content form button
{
    border: none;
    width: 100%;
    margin-top: 2%;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #9ecb45;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;
}

.content form button:hover
{
    background-color: #84ae30;
}

.content #update input
{
    width: 96%;
}

.content #update label
{
    width: 94%;
    display: inline-block;
    margin-top: 2.5%;
    margin-left: 2.5%;
}

#confirmation-check
{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#confirmation-check,
#confirmation-phone
{
    color: #918f89;
}

#confirmation-check i,
#confirmation-phone i
{
    float: left;
    margin-right: 1.4%;
}

#confirmation-check h4,
#confirmation-phone p
{
    margin: 0;
}

#confirmation-code input[type="text"]
{
    width: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 35px;
}

@media (max-width: 768px)
{
    .container,
    .container #logo
    {
        width: 100%;
        margin-bottom: 3%;
    }

    .container #logo-circle,
    .container #logo-text
    {
        float: none;
        margin: auto;
        text-align: center;
    }
    
    .container #logo-text
    {
        margin-top: 2%;
    }
    
    .content
    {
        float: none;
        margin: auto;
    }
    
    .content form #phone_country_call,
    .content form #phone_prefix,
    .content form #phone_number
    {
        width: 96%;
        margin-bottom: 2%;
        font-size: 11px;
    }
    
    #confirmation-code input[type="text"]
    {
        width: 96%;
    }
}