<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>MyDoor - Confirmation</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet"> 

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div id="logo">
                    <div id="logo-circle">
                        <i class="fas fa-door-open"></i>
                    </div>

                    <div id="logo-text">
                        <h1>MyDoor</h1>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="content">
                    {{if not .Found}}
                        <div class="alert alert_info">
                            <p>Info: Phone number does not exist. It is inserted.</p>
                        </div>
                    {{else if not .Allowable}}
                        <div class="alert alert_warning">
                            <p>Info: Phone number is not allowable.</p>
                        </div>
                    {{else if not .HasData}}
                        <div class="alert alert_primary">
                            <p>Info: Please fill your details below in order to proceed.</p>
                        </div>

                        <form method="post" action="/user/update" id="update" name="user_details" onsubmit="return check_fields()">
                            <label for="first_name">First name:</label><br />
                            <input type="text" name="first_name"><br />

                            <label for="last_name">Last name:</label><br />
                            <input type="text" name="last_name"><br />

                            <label for="email">Email:</label><br />
                            <input type="email" name="email">

                            <button>Update</button>
                        </form>
                    {{else}}
                        <div class="alert">
                        </div>

                        <div id="confirmation-check">
                            <i class="fas fa-check"></i> 
                            <h4>Confirmation</h4>
                        </div>

                        <div id="confirmation-phone">
                            <i class="fas fa-mobile-alt"></i> 
                            <p>Please type the confirmation code sent to your phone!</p>
                        </div>

                        <div id="confirmation-code">
                            <form method="post" action="user/validate/code" onsubmit="return code_fields()" name="code">
                                <input type="text" placeholder="-" maxlength="1" name="first" onkeypress="return is_number(event)">
                                <input type="text" placeholder="-" maxlength="1" name="second" onkeypress="return is_number(event)">
                                <input type="text" placeholder="-" maxlength="1" name="third" onkeypress="return is_number(event)">
                                <input type="text" placeholder="-" maxlength="1" name="fourth" onkeypress="return is_number(event)">

                                <button type="submit">Verify</button>
                            </form>
                        </div>
                    {{end}}
                </div>
            </div>
        </section>

        <script>
            function code_fields() 
            {
                var code_details = {
                    "FIRST": document.forms["code"]["first"].value,
                    "SECOND": document.forms["code"]["second"].value,
                    "THIRD": document.forms["code"]["third"].value,
                    "FORUTH": document.forms["code"]["fourth"].value
                };

                var alert = document.getElementsByClassName("alert");
    
                if (code_details["FIRST"] == "" || code_details["SECOND"] == "" || code_details["THIRD"] == "" || code_details["FOURTH"] == "")
                {
                    alert[0].style.visibility = "visible";
                    alert[0].classList.add("alert_danger");
                    alert[0].innerHTML = '<p>Error: All fields are important!</p>';
                    return false;
                }

                return true;
            }

            function is_number(event)
            {
                if (event.key === 'Backspace' || event.key ==='Tab' || (event.key >= 0 && event.key <= 9))
                    return true;

                return false;
            }
        </script>
    </body>
</html>